#static{
  position: static; width: 100%; max-width: 3000px; margin: auto; }
/*Body in there*/
body{
  background-color: rgb(0, 0, 0);
  background-attachment: fixed;
  margin: auto;
  font-family: 'Rowdies', cursive;
}
/**/
.container-menu{
  height: 90px; box-shadow: 0px 10px 20px black;
}
.contianer-meu-body{
   margin: 0px 18.6%; }
.Home-page i{
  font-size: 30pt; color: rgb(201, 201, 201);  padding:15px 10px; }
  .Home-page i:active{
    color: #ffffff;
  }
.button-menu .btn a{
  color: white;  text-decoration: none;  font-size: 18pt;
}
.button-menu .btn:hover{
  color: rgb(255, 255, 255);
  box-shadow: 0px 6px 10px rgb(255, 255, 255);
  background-color: rgb(155, 145, 145,0.1);
  text-decoration: none;
}

.button-menu .btn:hover a{
  color: rgb(0, 251, 255); text-decoration: overline; outline: none; }
/**/
.btn-group .nav-link:hover{
color: rgb(255, 255, 255);
box-shadow: 0px 6px 10px rgb(255, 255, 255);
background-color: rgb(155, 145, 145,0.1);
text-decoration: none;
}
.btn-group .nav-link:hover{
  color: rgb(0, 251, 255); outline: none; text-decoration: overline;
}
.btn-group .nav-link{
  color: white;  font-size: 18pt;border: none;outline: none;
}
.btn-group{
  padding:20px 0px 0px 0px;
}
.dropdown-menu li:Hover a{
  background-color: rgba(255, 255, 255, 0.5);color: aqua ;
}
.dropdown-menu li a{  
  font-size: 15pt;color: white;
}
.dropdown-menu{
  border-radius:0px 0px 10px 10px;
  box-shadow: 4px 0px 15px white inset;
  background-color: transparent;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}
/*form input data*/
.form-input .btn i{
   color: white;  font-size: 20pt;}
.form-input .btn{ position:absolute; right: 16px; top:14px;background-color: none;border: none;outline: none;}
/*Input Seach buttom*/
/*under body*/
.form-input input{
  width:520px;height:52px;outline: none;border-radius: 10px;
  font-size: 15pt; padding: 0px 50px 0px 20px;
  background-color: rgb(118, 118, 118,0.3);color: white;
  transition: 0.40s;
  box-shadow: 2px 5px 5px black;
}
.form-input{
  padding: 5px 0px 0px 0px; position: relative; 
}
.form-input input:hover{
  background-color: rgba(255, 255, 255, 0.2); color: rgb(0, 255, 174); outline: none;
}
/*nav-item and nav-link hover text in here
.img{display: flex;justify-content: center;align-items: center;display: inline-block;}
*/
/*Fro container of backfgound first top*/
.H-container p{
  font-size: 18pt; border-left: 5px solid rgb(118, 118, 118); 
  background-color: rgba(55, 53, 53 ,0.1);
}
.Allcontianer{
  height: 4520px; margin: 0px 19.5%; background-repeat: repeat; }
.Onn{
  width:100%; height:250px;
  position: relative;
}
.Onn a img{
  height:250px;
  position: absolute;
  left: 0px;
}
.bodyHead{
  width:100%; height:3570px;
  display: grid; grid-template-columns: 2.4fr 0.7fr;
}
/*{ background-image: url("img_tree.png");background-repeat: no-repeat;background-position: right top; }*/
.top-0{
  display: flex;
}
.top-0{
  background-color: rgb(229, 235, 208);
  border-bottom: 3px solid rgb(185, 183, 183);
  font-size: 18pt;  color: white;
  padding: 0.5rem 0px 0.4rem 0px;
  background-color: #000000;
  font-size: 15t;
}
.cr{
  background: linear-gradient(90deg, rgb(0, 0, 0) 5%, rgb(66, 13, 224) 20% , rgb(0, 0, 0) 30%,rgb(23, 255, 205) 50%,rgb(0, 0, 0) 60%,rgb(1, 145, 255) 78%, rgb(0, 0, 0) 83%,rgb(130, 0, 210) 92%, rgb(0, 0, 0) 99%);
  background-size: 300% 300%;
  animation: toggle 15s infinite;
}
@keyframes toggle{
  from{
    background-position: 0% 100%;
  }
  to{
    background-position: 150%;
  }
}
.icon-atived i{
  font-size: 22pt;  padding-left: 5px;
}
/*body left in table img*/
.Headimg{
  background: linear-gradient(to right,rgb(70, 19, 255), rgb(62, 255, 165),rgb(0, 251, 255)); height:50px; width:100%;
  font-size:20pt; color: rgb(255, 255, 255); text-align:left;  padding: 7px 0px 0px 20px; border-radius: 10px 10px 0px 0px;
  text-shadow: 7px 5px 5px #000000;
}
/*In this have gird in Headimg*/
.container-H{
  padding: 20px;
  width:100%; height: 2680px;
  border-radius: 0px 0px 10px 10px;
  position: relative;
  border: 10px rgb(0, 251, 255);
  box-shadow:0px 0px 20px rgba(0, 255, 251) inset;
  border-style:double;
}

  /*Input for body img in this*/
  .body-ep{
    background-color: rgb(47, 47, 47);
    border-radius: 0px 0px 20px 20px;
    width:100%;
    height:259vh;
    position: relative;
    border:  8px solid rgb(0, 255, 251);
    box-shadow:0px 0px 15px rgba(0, 255, 251) inset;
    border-style: double;
  }
  .border-img{
    position: relative;
  }
  .top-input-img{
    display: block;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .Story-title{
    padding-right:3%;
    padding-left: 2.5%;
    padding-top: 40px;
  }
  .title-img-story{
    color: #ddd;
    margin-right:40px;
    margin-left: 40px;
    font-size: 18pt;
    border-top: 5px solid orange;
    border-bottom: 5px solid orange;
  }
  .title-img-story p{
    padding-left: 20px;
  }
  .sub-text{
    font-size: 18pt;
    margin-left: 30px;
    color: burlywood;
    }
  .Headimg-ep{
    background: linear-gradient(to right,rgb(70, 19, 255), rgb(62, 255, 165),rgb(0, 251, 255)); height:52px; width:100%;
    font-size:20pt; color: rgb(255, 255, 255); text-align:left;  padding: 7px 0px 0px 20px; border-radius: 10px 10px 0px 0px;
    text-shadow: 7px 5px 5px #000000;
  }
  .Header-ep-related{
    Padding-top: 10rem;
    Padding-left: 30px;
    Padding-right:30px;
    position: relative;
  }
  #ep-date-related{
    display: flex;
    justify-content: space-between;
  }
/*Button to click page Home or Next page animation*/
.button-left{
  display: flex;
  justify-content: space-between;
  }
  .button-left .btn{
    width:100%; height:50px;
    font-size: 16pt;
    color: white;
    background-color: rgb(80, 80, 255);
    transition: 0.50s;
  }
  .button-left a{
    width:100%;
  }
  .btn:hover{
    background-color: #4b4848;
    transition: 0.40s;
  }
.body-ep-one{
  width:100%;
  height:8vh;
  border-top: 7px solid orange;
  padding-top: 5rem;
}
.The-title a .sub-related{
  color:white;
  font-size: 18pt;
  background-color: #181818;
  width:100%;
  height:55px;
  border-radius: 5px;
  background: transparent;
  outline: none;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}
.Button-ep{
  overflow: auto;
  height:580px;
  visibility: visible;
  border-bottom: 10px solid #00ffee;
}
/* width */
.Button-ep::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.Button-ep::-webkit-scrollbar-track {
  background-color: #181818;
}
 
/* Handle */
.Button-ep::-webkit-scrollbar-thumb {
  background: #00ffee; 
}

/* Handle on hover */
.Button-ep::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 251, 255,0.7); 
}
  .The-title a{
    text-decoration: none;
  }
  .The-title a  button:hover{
    background: #757575;
    transition: 0.40s;
  }
  
.The-title a{
  text-decoration: none;
}
.The-title a  button:hover{
  background: #757575;
  transition: 0.40s;
}
/*Buttom under button too*/
.body-ep-one a{
  width:100%;
}
.body-ep-one .btn{
  width:100%; height:60px;
  font-size: 18pt; color: white; padding-top: 10px;
  background-color: rgb(31, 134, 251);
  border-radius: 10px;border: 2px solid white;
}
/*In border-imge make alot of color*/
/*border-image: linear-gradient(220deg, rgb(112, 34, 255),rgb(255, 95, 137),rgb(228, 255, 56),rgb(42, 248, 255));
  border-width: 5px;     border-style: solid;   border-image-slice:10%;*/
/*body right in table img and type animation*/

/*cotainer-last under right and left*/
.cotainer-last{
  background: rgb(28, 29, 29);
  width:100%;height: 300px; color: #ddd;
  box-shadow: -10px 0px 20px white;
}
.text-header-1{
  font-size: 20pt;
}
.lest-text-gird{
  color: #ddd;
  margin: 0px 18% 0px 18%;
  display: grid; grid-template-columns: 1fr;
  font-size: 15pt; padding-top: 30px;
}
.icon-header{
  text-align: center; font-size: 60pt;
}
.linkendin i{
  padding-left: 80px;
}